<h3>Add group</h3><br/>
<form method="post" action="">
    <div class="form-group">
        <input type="text" id="alias" name="alias" value="" class="form-control" placeholder="enter alias"/>
    </div>
    <div class="form-group">
        <input type="text" id="title" name="title" value="" class="form-control" placeholder="enter title"/>
    </div>
    <div class="form-group">
        <textarea name="content" id="content" class="form-control" placeholder="enter content"></textarea>
    </div>
    <input type="submit" class="btn btn-success" />
</form>